<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Manada</title>
</head>
<body>
    <form action="/register" method="post">

        <label for="id">Identificador Manada: </label>
        <input type="text" name="id" required>

        <label for="animal">Animal: </label>
        <input type="text" name="animal" required>

        <label for="totalintegrantes">Total de Integrantes: </label>
        <input type="number" name="totalintegrantes" required>

        <label for="totalhijos">Total de Hijos: </label>
        <input type="number" name="totalhijos">

        <label for="continente">Continente: </label>
        <select name="continente" id="continente" class="input-continente" required>
            <option value="America">America</option>
            <option value="Europa">Europa</option>
            <option value="Asia">Asia</option>
            <option value="Oceania">Oceania</option>
        </select><br><br>



        <button type="submit">Ingresar</button>
    </form>
    <h5>
        <%= error %>
    </h5>
</body>
</html>